version: '3.9'

services:
  pitchmatch_api:
    build: .
    container_name: pitchmatch_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
